<!--
  Copyright (c) 2018 Payal P Joshi
  [This program is licensed under the "MIT License"]
  Please see the file LICENSE in the source
  distribution of this software for license terms.
-->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mind Miracle</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />
    

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../public/css/business-casual.css" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <!--Code reference: Facebook for developers @ https://developers.facebook.com/docs/plugins/like-button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Learn abacus with us at</span>
      <span class="site-heading-lower">Mind Miracle</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about">About</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="schedule">Schedule</a>
            </li>
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="#">Chat with a tutor</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="enquiry">Get in touch</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="contact">Location</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <section class="page-section about-heading">
      <div class="container">
        <br>
        <br>
        <br>
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4" align = "center">
                  <span class="section-heading-lower" style="text-transform: capitalize !important;">Have questions? Send an enquiry!</span>
                </h2>
                <div class = "container-fluid" align="center">
                      <div class = "col-md-4 col-sm-4 col-xs-12"></div>
                      <div class = "col-md-6 col-sm-6 col-xs-12">
                        <form method="POST" action="/sendEnquiry" class="form-container" name="enquiryForm">
                          {{msg}} <br>
                          <div class="form-group input-group mb-2">
                          <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                          </div>
                          <input type="text" style = "width: 75px !important" class="form-control" id="exampleUserName" placeholder="Enter your name" name="name" required>
                        </div>
                        <div class="form-group input-group mb-2">
                          <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true" style="font-size: 12px;"></i></span>
                          </div>
                          <input type="email" class="form-control" id="exampleEmailId" placeholder="Enter Email Id" name="email" path="email" 
                          required = "true" data-error="Please enter Email address" />
                          <span class="glyphicon form-control-feedback"></span>
                          <span class="help-block with-errors"></span>
                        </div>
                       <div class="form-group">
                          <label for="enquiryTextarea" style="text-align: left!important;">Enquiry</label>
                          <textarea class="form-control" id="enquiryTextarea" rows="3" placeholder="Enter your query here.">
                          </textarea>
                      </div>
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   

    <footer class="footer text-faded text-center py-5">
       <!--Code reference: Facebook for developers @ https://developers.facebook.com/docs/plugins/like-button -->
      <div class="fb-like" data-href="https://www.facebook.com/Mind-Miracle-Ucmas-Abacus-Classes-200472943893395/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
      <div class="container">
        <p class="m-0 small"><a href= "https://www.flickr.com/photos/blaahhi/3597105175" style = "color: inherit;">Background image</a> by Sami is licensed under <a href = "https://creativecommons.org/licenses/by/2.0/" style = "color: inherit;">CC BY 2.0</a></p>
        <p class="m-0 small">Copyright &copy; Learn Abacus 2018</p>  
      </div>  
    </footer>

     <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>


  </body>
  </html>