<!--
  Copyright (c) 2018 Payal P Joshi
  [This program is licensed under the "MIT License"]
  Please see the file LICENSE in the source
  distribution of this software for license terms.
-->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mind Miracle</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/css/business-casual.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  </head>

  <body>
    <div align="right">
      <a href="/logout" aria-label="Logout">
        <i aria-hidden class="fa fa-sign-out" style="font-size: 20px;"></i>
      </a>
   </div>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Learn abacus with us at</span>
      <span class="site-heading-lower">Mind Miracle</span>
    </h1>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about">About</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="schedule">Schedule</a>
            </li>
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="getUserName">Chat with a tutor</a>
            </li>
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="enquiry">Get in touch</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="location">Location</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <div align="right"><a href= "https://www.flickr.com/photos/scratchpost/12016328064/" class="m-0 small text-faded text-center py-5">Image</a> <text class="m-0 small text-faded text-center py-5"> by Jaya Ramchandani is licensed under </text><a href = "https://creativecommons.org/licenses/by/2.0/" class="m-0 small text-faded text-center py-5">CC BY 2.0
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../public/img/logo.jpg" alt="">
          </a>
        </div>
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Abacus</span>
              <span class="section-heading-lower">Math made easy!!</span>
            </h2>
            <p class="mb-3">Is Math a difficult subject for your child? </p>
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="location">Visit Us Today!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Promise</span>
                <span class="section-heading-lower">To You</span>
              </h2>
              <p class="mb-0">Our qualified tutors are to dedicated to provide your children a friendly atomsphere to learn math. Enroll at <em>Mind Miracle </em> and see their number sense improve remarkably along with an improved IQ.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small"><a href= "https://www.flickr.com/photos/blaahhi/3597105175" style = "color: inherit;">Background image</a> by Sami is licensed under <a href = "https://creativecommons.org/licenses/by/2.0/" style = "color: inherit;">CC BY 2.0</a></p>
        <p class="m-0 small">Copyright &copy; Learn Abacus 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

  </body>

</html>