<!--
  Copyright (c) 2018 Payal P Joshi
  [This program is licensed under the "MIT License"]
  Please see the file LICENSE in the source
  distribution of this software for license terms.
-->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mind Miracle</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/css/business-casual.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 250px;  
        width: 100%;  
       }
    </style>
  </head>
  

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Learn abacus with us at</span>
      <span class="site-heading-lower">Mind Miracle</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  
            <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                      <a class="nav-link text-uppercase text-expanded" href="index">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item px-lg-4">
                      <a class="nav-link text-uppercase text-expanded" href="about">About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                      <a class="nav-link text-uppercase text-expanded" href="schedule">Schedule</a>
                    </li>
                    <li class="nav-item  px-lg-4">
                      <a class="nav-link text-uppercase text-expanded" href="getUserName">Chat with a tutor</a>
                    </li>
                    <li class="nav-item  px-lg-4">
                      <a class="nav-link text-uppercase text-expanded" href="enquiry">Get in touch</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                      <a class="nav-link text-uppercase text-expanded" href="location">Location</a>
                    </li>
                  </ul>
                </div>
            </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Location</span>
              </h2>
              <p class="address mb-5">
                <em>
                  <strong>Portland State University</strong>
                  <br>
                 1900 SW 4th Avenue, Portland
                 <br>
                 Oregon
                </em>
              </p>

              <!--Code Reference: Google Maps Documentation @ https://developers.google.com/maps/documentation/javascript/adding-a-google-map-->
              <!-- Integrating the google maps--> 
              <div id="map"></div>
              <script>
                  // Initialize and add the map
                  function initMap() {
                    // The location of Uluru
                    var psu = {lat: 45.5119444, lng: -122.6841667};
                    // The map, centered at Uluru
                    var map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 14, center: psu});
                    // The marker, positioned at Uluru
                    var marker = new google.maps.Marker({position: psu, map: map});
                  }
                </script>
                 <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAROkw-2jF2T-FBTHb_MjjETfTDfbx7tBc&callback=initMap">
                </script>

                <p class="mb-0">
                  <small>
                    <em>Call Anytime</em>
                  </small>
                  <br>
                  (XXX) XXX-XXXX
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small"><a href= "https://www.flickr.com/photos/blaahhi/3597105175" style = "color: inherit;">Background image</a> by Sami is licensed under <a href = "https://creativecommons.org/licenses/by/2.0/" style = "color: inherit;">CC BY 2.0</a></p>
        <p class="m-0 small">Copyright &copy; Learn Abacus 2018</p>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  </body>

</html>